<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{todosPending}}</strong> todos pending</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li (click)="changeFilter(filter)" *ngFor="let filter of filterValid">
      <a [ngClass]="{'selected': filter === filterSelected}">{{filter}}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button (click)="deleteAll()" class="clear-completed">Clear completed</button>
</footer>